extends layout

mixin balanceCard(balanceData)
  .card.mb-3(id=`keyCard-${balanceData._id}`)
    .card-body
      h5.card-title=balanceData.key_name
        span.ps-2.text-muted=balanceData.key_type
      h6.card-subtitle.mb-2.text-muted(
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        title="Clic para copiar")=balanceData.key_public
      p.card-text=balanceData.key_balance
      button.btn.btn-primary.me-3(
        type='button' 
        data-bs-toggle='modal' 
        data-bs-target=`#modalDownload-${balanceData._id}`) Descargar
      button.btn.btn-danger(
        type='button' 
        data-bs-toggle='modal' 
        data-bs-target=`#modalRemove-${balanceData._id}`) Eliminar
  // Modal para remover llave
  .modal.fade(id=`modalRemove-${balanceData._id}` data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby=`modalRemove-${balanceData._id}` aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h5.modal-title Ingresa tu contraseña
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          input.form-control(id=`password-to-delete-${balanceData._id}` type="password")
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
          button.btn.btn-primary(
            type='button' 
            data-bs-dismiss='modal' 
            onclick=`removeKey('${balanceData._id}', '${balanceData.key_name}')`) Aceptar
  // Modal para descargar archivo
  .modal.fade(id=`modalDownload-${balanceData._id}` data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby=`modalDownload-${balanceData._id}` aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h5.modal-title Ingresa tu contraseña
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          input.form-control(id=`password-to-delete-${balanceData._id}` type="password")
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
          button.btn.btn-primary(
            type='button' 
            data-bs-dismiss='modal' 
            onclick=`getKeysFile('${balanceData._id}', '${balanceData.key_name}')`) Aceptar

block content
  include includes/navbar

  section(style='padding:50px;')
    div
      h1 Balances
      if balances.length
        each balance in balances
          +balanceCard(balance)
      else
        p Puedes registrar tu primera llave <a href="/account/key/add">aquí</a>

    div.mt-4
      h1 Tus Smart contracs
      .card
        .card-body
          p Test

  .position-fixed.bottom-0.end-0.p-3(style='z-index: 11')
    #liveToast.toast(role='alert' aria-live='assertive' aria-atomic='true')
      .toast-header
        img.rounded.me-2(src='...' alt='...')
        strong.me-auto
        small
        button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
      .toast-body

  script(type="text/javascript" src="/javascripts/index.js")
